[Unit]
Description=Mythic service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/Mythic
ExecStart=/opt/Mythic/mythic-cli mythic start

[Install]
WantedBy=multi-user.target
